/* xs */
/* @media screen and (min-width: 475px) {} */
/* sm */
/* @media screen and (min-width: 640px) {} */
/* md */
/* @media screen and (min-width: 768px) {} */
/* lg */
/* @media screen and (min-width: 1024px) {} */
/* xl */
/* @media screen and (min-width: 1440px) {} */
/* 2xl */
/* @media screen and (min-width: 2560px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-600 {
  transition-delay: 600ms;
}

.delay-800 {
  transition-delay: 800ms;
}

.delay-1000 {
  transition-delay: 1s;
}

/* xl */
@media screen and (min-width: 1440px) {
  body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .background {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media screen and (min-width: 2560px) {
  body {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
  }

  .background {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
  }
} */
