/* .hero__background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 33.47%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("hero.png"), lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 63%;
  filter: blur(3.6431400775909424px);
  height: 100svh;
} */

.hero {
  position: relative;
  /* border: 1px solid red; */
  height: calc(100svh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: calc(var(--size-7xl) - 2px);
  padding-bottom: calc(var(--size-7xl) - 2px); */
  padding: calc(var(--size-7xl) - 10px) var(--size-3xl)
    calc(var(--size-7xl) - 10px) var(--size-3xl);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58%;
  opacity: 0.8;
  background: linear-gradient(180deg, #272829 81%, rgba(39, 40, 41, 0) 100%);
}

.hero__background {
  display: none;
}

.hero__content {
  /* border: 1px solid greenyellow; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 3;
}

.hero__brand-name {
  display: none;
}

.hero__titles {
  /* border: 1px solid blue; */
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: var(--size-2xl);
}

.hero__title {
  text-align: center;
  color: var(--clr-goldgrad100);
  text-shadow: 0px 1.523px 1.523px rgba(0, 0, 0, 0.25);
  font-size: calc(var(--size-4xl) - 3px);
  font-weight: 400;
  line-height: calc(var(--size-4xl) + 4px);
  max-width: 18rem;
}

.hero__subtitle {
  text-align: center;
  color: #fff;
  text-shadow: 0px 2.411px 2.411px rgba(0, 0, 0, 0.25);
  font-size: calc(var(--size-xl) + 2px);
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
  margin-left: 10px;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  align-self: center;
  background-color: var(--clr-goldgrad100);
  gap: calc(var(--size-xxxs) + 2px);
  padding: calc(var(--size-xxxs) + 1px) var(--size-sm)
    calc(var(--size-xxxs) + 1px) var(--size-sm);
  border-radius: var(--size-3xl);
}

.hero__btn > svg {
  display: block;
  margin-top: 1px;
}

.hero__btn-title {
  display: block;
  color: var(--clr-darkblack);
  text-align: center;
  font-size: calc(var(--size-xl) + 2px);
  font-weight: 600;
}

.hero__contact {
  /* border: 1px solid blue; */
  align-self: center;
  border-right: 1px solid white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: calc(var(--size-xxs) + 1px);
  gap: var(--size-base);
}

.hero__contact-item {
  /* border: 1px solid greenyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-xxs);
}

.hero__contact-item > svg {
  display: block;
  /* border: 1px solid red; */
}

.hero__contact-text {
  font-weight: 600;
  line-height: normal;
}

/* xs */
/* @media screen and (min-width: 475px) {} */
/* sm */
/* @media screen and (min-width: 640px) {} */
/* md */
@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    /* border: 1px solid red; */
    height: 57.7vh;
    padding: 0;
  }

  .hero::after {
    content: none;
    background: none;
    /* border-bottom: 50px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent; */
  }

  .hero__background {
    height: 101%;
    width: fit-content;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .hero__content {
    width: 100%;
  }

  .hero__brand-name {
    display: block;
    text-align: end;
    color: var(--clr-softwhite);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 9px;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
    margin-right: 31px;
  }

  .hero__titles {
    width: fit-content;
    justify-self: left;
    max-width: 213px;
    padding-top: 3.5%;
    margin-left: 31px;
    gap: 18px;
  }

  .hero__title {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: calc(var(--size-2xl) + 5px);
  }

  .hero__subtitle {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 12.5px;
    margin-right: 0;
    margin-left: 0;
    font-weight: 300;
  }

  .hero__btn {
    margin-right: auto;
    width: 84px;
    gap: 3px;
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding: 3px;
    padding-bottom: 3px;
    margin-left: 98.5px;
  }

  .hero__btn > svg {
    width: 13px;
    height: 13px;
  }

  .hero__btn-title {
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .hero__contact {
    /* border: 1px solid blue; */
    align-self: end;
    margin-right: 55px;
    margin-bottom: 80px;
    padding-right: 6px;
    gap: 10px;
  }

  .hero__contact-item {
    /* border: 1px solid greenyellow; */
    gap: 6px;
  }

  .hero__contact-item > svg {
    /* border: 1px solid red; */
    height: 14px;
    width: 14px;
  }

  .hero__contact-text {
    font-size: 10px;
  }
}
/* lg */
/* @media screen and (min-width: 1024px) {} */
/* xl */
/* @media screen and (min-width: 1280px) {} */
/* 2xl */
/* @media screen and (min-width: 1536px) {} */
