/* .hero__background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 33.47%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("hero.png"), lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 63%;
  filter: blur(3.6431400775909424px);
  height: 100svh;
} */

.hero {
  position: relative;
  /* border: 1px solid red; */
  height: calc(100svh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: calc(var(--size-7xl) - 2px);
  padding-bottom: calc(var(--size-7xl) - 2px); */
  padding: calc(var(--size-7xl) - 10px) var(--size-3xl)
    calc(var(--size-7xl) - 10px) var(--size-3xl);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58%;
  opacity: 0.8;
  background: linear-gradient(180deg, #272829 81%, rgba(39, 40, 41, 0) 100%);
}

.hero__background {
  display: none;
}

.hero__content {
  /* border: 1px solid greenyellow; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 3;
}

.hero__brand-name {
  display: none;
}

.hero__titles {
  /* border: 1px solid blue; */
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: var(--size-2xl);
}

.hero__title {
  text-align: center;
  color: var(--clr-goldgrad100);
  text-shadow: 0px 1.523px 1.523px rgba(0, 0, 0, 0.25);
  font-size: calc(var(--size-4xl) - 3px);
  font-weight: 400;
  line-height: calc(var(--size-4xl) + 4px);
  max-width: 18rem;
}

.hero__subtitle {
  text-align: center;
  color: #fff;
  text-shadow: 0px 2.411px 2.411px rgba(0, 0, 0, 0.25);
  font-size: calc(var(--size-xl) + 2px);
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
  margin-left: 10px;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  align-self: center;
  background-color: var(--clr-goldgrad100);
  gap: calc(var(--size-xxxs) + 2px);
  padding: calc(var(--size-xxxs) + 1px) var(--size-sm)
    calc(var(--size-xxxs) + 1px) var(--size-sm);
  border-radius: var(--size-3xl);
}

.hero__btn > svg {
  display: block;
  margin-top: 1px;
}

.hero__btn-title {
  display: block;
  color: var(--clr-darkblack);
  text-align: center;
  font-size: calc(var(--size-xl) + 2px);
  font-weight: 600;
}

.hero__contact {
  /* border: 1px solid blue; */
  align-self: center;
  border-right: 1px solid white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: calc(var(--size-xxs) + 1px);
  gap: var(--size-base);
}

.hero__contact-item {
  /* border: 1px solid greenyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-xxs);
}

.hero__contact-item > svg {
  display: block;
  /* border: 1px solid red; */
}

.hero__contact-text {
  font-weight: 600;
  line-height: normal;
}

/* xs */
/* @media screen and (min-width: 475px) {} */
/* sm */
/* @media screen and (min-width: 640px) {} */
/* md */
@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    /* border: 1px solid red; */
    height: calc(768px / 2.05);
    padding: 0;
  }

  .hero::after {
    content: none;
    background: none;
    /* border-bottom: 50px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent; */
  }

  .hero__background {
    height: 101%;
    width: fit-content;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .hero__content {
    width: 100%;
  }

  .hero__brand-name {
    display: block;
    text-align: end;
    color: var(--clr-softwhite);
    text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.25);
    font-size: 9px;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
    margin-right: 31px;
  }

  .hero__titles {
    width: fit-content;
    justify-self: left;
    max-width: 213px;
    padding-top: 3.5%;
    margin-left: 35px;
    gap: 18px;
  }

  .hero__title {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: calc(var(--size-2xl) + 5px);
  }

  .hero__subtitle {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 12.5px;
    margin-right: 0;
    margin-left: 0;
    font-weight: 300;
  }

  .hero__subtitle > span {
    line-height: normal;
  }

  .hero__btn {
    margin-right: auto;
    width: 84px;
    gap: 3px;
    padding: 3px;
    margin-left: 100px;
  }

  .hero__btn > svg {
    width: 13px;
    height: 13px;
  }

  .hero__btn-title {
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .hero__contact {
    /* border: 1px solid blue; */
    align-self: end;
    margin-right: 55px;
    margin-bottom: 80px;
    padding-right: 6px;
    gap: 10px;
  }

  .hero__contact-item {
    /* border: 1px solid greenyellow; */
    gap: 6px;
  }

  .hero__contact-item > svg {
    /* border: 1px solid red; */
    height: 14px;
    width: 14px;
  }

  .hero__contact-text {
    font-size: 10px;
  }
}
/* lg */
@media screen and (min-width: 1024px) {
  .hero {
    position: relative;
    /* border: 1px solid red; */
    height: calc(1024px / 2.05);
    padding: 0;
  }

  .hero__brand-name {
    text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    margin-right: 60px;
  }

  .hero__titles {
    max-width: 284px;
    margin-left: 47px;
    gap: 24px;
  }

  .hero__title {
    text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    line-height: calc(var(--size-4xl) + 3px);
    /* line-height: var(--size-4xl); */
  }

  .hero__subtitle {
    text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.25);
    font-size: 16.5px;
  }

  .hero__btn {
    width: auto;
    gap: 3px;
    padding: 0;
    padding: 3.5px 10px 3.5px 10px;
    margin-left: 133px;
    margin-top: 10px;
  }

  .hero__btn > svg {
    width: 18px;
    height: 18px;
    margin-top: 2px;
  }

  .hero__btn-title {
    font-size: 14.5px;
  }

  .hero__contact {
    margin-right: 74px;
    margin-bottom: 106px;
    padding-right: 8px;
    gap: 14px;
  }

  .hero__contact-item {
    /* border: 1px solid greenyellow; */
    gap: 8px;
  }

  .hero__contact-item > svg {
    /* border: 1px solid red; */
    height: 18.5px;
    width: 18.5px;
  }

  .hero__contact-text {
    font-size: 14px;
  }
}
/* xl */
/* @media screen and (min-width: 1280px) {
  .hero {
    border: 1px solid red;
    height: calc(1280px / 2.05);
  }

  .hero__brand-name {
    font-size: 19px;
    margin-right: 54px;
  }

  .hero__titles {
    max-width: 450px;
    margin-left: 57px;
    gap: 36px;
  }

  .hero__title {
    max-width: none;
    font-size: 48px;
    line-height: calc(var(--size-6xl) - 2px);
    line-height: var(--size-6xl);
  }

  .hero__subtitle {
    font-size: 25.5px;
  }

  .hero__btn {
    width: auto;
    gap: 3px;
    padding: 0;
    padding: 5px 14px 5px 14px;
    margin-left: 200px;
    margin-top: 0px;
  }

  .hero__btn > svg {
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }

  .hero__btn-title {
    font-size: 22px;
  }

  .hero__contact {
    margin-right: 108px;
    margin-bottom: 160px;
    padding-right: 13px;
    gap: 20px;
  }

  .hero__contact-item {
    border: 1px solid greenyellow;
    gap: 12px;
  }

  .hero__contact-item > svg {
    border: 1px solid red;
    height: 28px;
    width: 28px;
  }

  .hero__contact-text {
    font-size: 20px;
  }
} */

/* XL */
@media screen and (min-width: 1440px) {
  .hero {
    /* border: 1px solid red; */
    height: calc(1440px / 2.05);
  }

  .hero__brand-name {
    font-size: 18px;
    margin-right: 52px;
    margin-bottom: 10px;
  }

  .hero__titles {
    max-width: 450px;
    margin-left: 42px;
    gap: 33px;
  }

  .hero__title {
    max-width: none;
    font-size: 45px;
    line-height: calc(var(--size-6xl) - 2px);
    /* line-height: var(--size-6xl); */
  }

  .hero__subtitle {
    font-size: 23px;
  }

  .hero__btn {
    width: auto;
    gap: 3px;
    padding: 0;
    padding: 6px 14px 6px 14px;
    margin-left: 192px;
  }

  .hero__btn > svg {
    width: 22.5px;
    height: 22.5px;
    margin-top: 3px;
  }

  .hero__btn-title {
    font-size: 20px;
  }

  .hero__contact {
    margin-right: 106.5px;
    margin-bottom: 154px;
    padding-right: 11.5px;
    gap: 20px;
  }

  .hero__contact-item {
    /* border: 1px solid greenyellow; */
    gap: 10.5px;
  }

  .hero__contact-item > svg {
    /* border: 1px solid red; */
    height: 26px;
    width: 26px;
  }

  .hero__contact-text {
    font-size: 19px;
  }
}

/* 2xl */
@media screen and (min-width: 2560px) {
  .hero {
    /* border: 1px solid red; */
    height: calc(2560px / 2.05);
  }
  .hero__brand-name {
    font-size: 24px;
    margin-right: 140px;
  }

  .hero__titles {
    max-width: 800px;
    margin-left: 100px;
    gap: 60px;
  }

  .hero__title {
    font-size: 80px;
    line-height: calc(var(--size-8xl) - 2px);
    /* line-height: var(--size-6xl); */
  }

  .hero__subtitle {
    font-size: 42px;
  }

  .hero__btn {
    width: auto;
    gap: 3px;
    padding: 0;
    padding: 2px 20px 2px 20px;
    margin-left: 390px;
    margin-top: 0px;
  }

  .hero__btn > svg {
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
  }

  .hero__btn-title {
    font-size: 28px;
  }

  .hero__contact {
    margin-right: 175px;
    margin-bottom: 240px;
    padding-right: 13px;
    gap: 30px;
  }

  .hero__contact-item {
    /* border: 1px solid greenyellow; */
    gap: 18px;
  }

  .hero__contact-item > svg {
    /* border: 1px solid red; */
    height: 38px;
    width: 38px;
  }

  .hero__contact-text {
    font-size: 30px;
  }
}
