.border__green-lime {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient( #116D38,#A3CC2E);
}

.border__orange-blue {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient( #E67E22,#229FE6);
}

.border__yellow-pink {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient( #FFDC73,#CC5294);
}

.border__purple-yellow {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient( #AC00FF,#FFCF40);
}

.border__red-yellow {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient( #BD0026,#FFBF00);
}

.background__yellow-purple {
  background-image: linear-gradient(to left, #B312F0 20%, #FCC44B 80%);
}
.background__lime-green {
  background-image: linear-gradient(to left, #1A7338 20%, #9AC730 80%);
}
.background__blue-orange {
  background-image: linear-gradient(to left, #339ED7 20%, #DE812C 80%);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid purple; */
  padding: 0;
}

.services__title {
  font-size: var(--size-xl);
  font-weight: bold;
  line-height: 100%;
  border-bottom: 1px solid;
  margin-bottom: var(--size-3xl);
}

.services__list {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
/*   padding-left: 215.5px;
  padding-right: 215.5px; */
  /* border: 1px solid yellow; */
}

.services__list::-webkit-scrollbar {
  display: none;
}

.services__item-placeholder {
  border-radius: 27px;
  width: 293px;
  height: 219px;
  flex-grow: 0;
  flex-shrink: 0;
  /* border: 1px solid red; */
}

.services__card {
  /* border: 1px solid green; */
  background-color: #d7d7d7;
  border-radius: 21px;
  width: 293px;
  height: 219px;
  flex-grow: 0;
  flex-shrink: 0;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.services__card-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 22px;
  opacity: 50%;
}

.services__card-img {
  margin-top: 11.5px;
  width: 66px;
  height: 66px;
  z-index: 1;
  /* border: 7px solid transparent;
  border-radius: 5rem;
  border-image-source: linear-gradient(#116D38, #A3CC2E);
  border-image-slice: 1; */
  
  /* enable when you want to add old border */
  /* border: double 7px transparent;
  border-radius: 80px;
  background-origin: border-box;
  background-clip: padding-box, border-box; */
}

.services__card-title {
  color: var(--clr-darkblack);
  text-shadow: 0px 2.75px 2.75px rgba(0, 0, 0, 0.25);
  line-height: 100%;
  font-size: var(--size-base);
  margin-top: 16px;
  text-decoration: underline;
}

.services__card-summary {
  color: black;
  text-align: center;
  max-width: 245px;
  font-size: var(--size-xs);
  font-weight: 600;
  line-height: 130%;
  margin-top: 19px;
}

.services__card-btn {
  height: calc(var(--size-2xl) + 4px);
  text-align: center;
  color: black;
  background-color: var(--clr-goldgrad100);
  width: 100%;
  margin-top: auto;
  z-index: 1;
  text-decoration: none;
  line-height: 170%;
  font-weight: bold;
  font-size: calc(var(--size-sm) - 0.5px);
  height: 22px;
}

.services__list-nav {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--size-base);
  margin-top: var(--size-xxs);
}

.services__list-nav > li {
  content: "•";
  font-size: var(--size-2xl);
  transition: color 0.5s;
}

.selected {
  color: var(--clr-goldgrad100);
}

.services__line {
  height: 30px;
  border-left: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--size-3xl);
  margin-bottom: calc(var(--size-base) + 1.5px);
  opacity: 50%;
}

/* md */
@media screen and (min-width: 768px) {
  .services__title {
    font-size: var(--size-base);
    margin-bottom: var(--size-2xl);
    /* background-color: var(--clr-cleanblack); */
  }

  .services__list {
    justify-content: center;
    gap: calc(var(--size-base) - 1px);
    overflow-x: hidden;
    background: url("/services.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xl);
  }

  .services__item-placeholder {
    display: none;
  }

  .services__card {
    border-radius: var(--size-base);
    width: 208.5px;
    height: 156px;
  }

  .services__card-line {
    height: var(--size-base);
  }

  .services__card-img {
    width: calc(var(--size-5xl));
    height: calc(var(--size-5xl));
    margin-top: var(--size-xxs);
  }

  .services__card-title {
    text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.25);
    font-size: var(--size-xs);
    margin-top: var(--size-xs);
  }

  .services__card-summary {
    max-width: 163px;
    font-size: var(--size-xxs);
    margin-top: calc(var(--size-xs) + 1.5px);
  }

  .services__card-btn {
    height: var(--size-base);
    font-size: calc(var(--size-xxs) + 1.5px);
    line-height: 180%;
    transition: color 0.2s;
    cursor: pointer;
  }

  .services__card-btn:hover {
    color: white;
  }

  .services__list-nav {
    display: none;
  }

  .services__line {
    display: none;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  .services__title {
    font-size: calc(var(--size-xl) + 1px);
    margin-bottom: calc(var(--size-3xl) + 2px);
  }

  .services__list {
    gap: var(--size-xl);
    padding-top: calc(var(--size-2xl) + 2.5px);
    padding-bottom: calc(var(--size-2xl) + 2.5px);
  }

  .services__card {
    border-radius: var(--size-xl);
    width: 278px;
    height: 208px;
  }

  .services__card-line {
    height: calc(var(--size-xl) + 1px);
  }

  .services__card-img {
    margin-top: calc(var(--size-xs) - 1px);
    width: calc(var(--size-6xl) + 4px);
    height: calc(var(--size-6xl) + 4px);
  }

  .services__card-title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: calc(var(--size-base) - 1px);
    margin-top: calc(var(--size-base) - 0.5px);
  }

  .services__card-summary {
    max-width: 225px;
    font-size: calc(var(--size-xs) - 1px);
    margin-top: var(--size-lg);
  }

  .services__card-btn {
    height: calc(var(--size-xl) + 1px);
    font-size: calc(var(--size-xs) + 1px);
    line-height: 170%;
  }
}

/* xl */
@media screen and (min-width: 1440px) {
  .services__title {
    font-size: var(--size-3xl);
    margin-bottom: calc(var(--size-4xl) + 5px);
  }

  .services__list {
    gap: calc(var(--size-3xl) - 2px);
    padding-top: calc(var(--size-4xl) + 1.5px);
    padding-bottom: calc(var(--size-4xl) + 1.5px);
  }

  .services__card {
    border-radius: calc(var(--size-3xl) - 1px);
    width: 391px;
    height: 292.5px;
  }

  .services__card-line {
    height: var(--size-3xl);
  }

  .services__card-img {
    margin-top: calc(var(--size-base) - 1.5px);
    width: calc(var(--size-7xl) + 16px);
    height: calc(var(--size-7xl) + 16px);
  }

  .services__card-title {
    text-shadow: 0px 2.8px 2.8px rgba(0, 0, 0, 0.25);
    font-size: calc(var(--size-xl) + 1px);
    margin-top: calc(var(--size-sm) - 1px );
  }

  .services__card-summary {
    max-width: 305px;
    font-size: calc(var(--size-base) - 1px);
    margin-top: var(--size-xl);
  }

  .services__card-btn {
    height: var(--size-3xl);
    font-size: calc(var(--size-base) + 2px);
    line-height: 170%;
  }
}

/* 2xl */
/* @media screen and (min-width: 2560px) {
  .services__title {
    font-size: calc(var(--size-5xl) + 5.5px);
    margin-bottom: calc(var(--size-7xl) + 4px);
  }

  .services__list {
    gap: calc(var(--size-4xl) + 2.5px);
    padding-top: calc(var(--size-6xl) + 6.5px);
    padding-bottom: calc(var(--size-6xl) + 6.5px);
  }

  .services__card {
    border-radius: calc(var(--size-5xl) + 3px);
    width: 25.5rem;
    height: 32rem;
  }

  .services__card-img {
    margin-top: calc(var(--size-3xl) + 3.5px);
    width: calc(var(--size-10xl) - 15px);
    height: calc(var(--size-10xl) - 15px);
    border: double 10px transparent;
    padding-top: 10px;
  }
  
  .services__list > div:nth-last-of-type(2) > .services__card-img {
    padding-top: 10px;
    padding-left: 5px;
  }

  Continue adjusting from here
  .services__card-title {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: calc(var(--size-4xl) + 2.5px);
    margin-top: calc(var(--size-2xl) + 2.5px);
  }

  .services__card-summary {
    max-width: 22rem;
    font-size: calc(var(--size-3xl) + 2px);
    margin-top: calc(var(--size-4xl) + 5px);
  }

  .services__card-btn {
    height: calc(var(--size-5xl) + 4.5px);
    font-size: calc(var(--size-3xl) + 2px);
    line-height: 150%;
  }
} */
